body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
    background-color: ivory;
}
li{
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}
a {color: black;
text-decoration: none;
}
a:hover{
    text-decoration: underline;
    font-weight: bold;
}
a:visited{
    color: orange
}
.resumeListHeading{
    font-weight: bold;
    font-style: normal;
}
.underline {text-decoration: underline;}
.justify{ text-align: justify;}

.homebg{ 
    background-image: url('../images/durban-north-beach.jpg') ;
    background-position: bottom right;
}

